
<div class="sidebar">
    <div class="logo">
      <img src="https://storage.googleapis.com/pr-newsroom-wp/1/2023/05/Spotify_Full_Logo_RGB_White.png" alt="Logo" />
    </div>


    <div class="navigation">
      <ul>
        <li>
          <a href="/">
            <span class="fa fa-home"></span>
            <span>Home</span>
          </a>
        </li>

        <li>
          <a href="/playlist">
            <span class="fa fa-book"></span>
            <span>Playlist</span>
          </a>
        </li>

        <li>
          <a href="/addmusic">
            <span class="fa fas fa-music"></span>
            <span>Add Music</span>
          </a>
        </li>
      </ul>
    </div>


    <div class="policies">
      <ul>
<p style="color: white; background-color:gray"><b>auq na po sir</b></p>
      </ul>
    </div>
  </div>
  