<head>
    <link href="css/style.css" rel="stylesheet" />
</head>

<div class="main-container">
    <div class="topbar" style="background-color: black;">
      <div class="prev-next-buttons">
      </div>

      <div class="navbar">
        <button type="button">Explore Premium</button>
        <ul>
          <li class="divider">|</li>
            <a href="#"><b style="color: white;">Install App</b></a>
        </ul>
      </div>
    </div>

    
  </div>

  